@{
    ViewBag.Title = "ForgetPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/form-validate.css")" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {          
        betex247.getallsport();
    });
</script>
<div id="middle_column_1">
    <div class="clearfix">
        <h1 class="sports_header1">
            FORGET PASSWORD</h1>
        <div class="create-account-box">
            <div class="account-box-title">
                Forget Password Successfully Updated.
            </div>
            <div class="account-box-filter">              
                <table cellpadding="3" cellspacing="2">
                    <tr>
                        <td width="100%">
                            Please check your email to see update your password.
                        </td>                              
                    </tr>         
                </table>
            </div>           
          
        </div>
    </div>
</div>
