@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Css/form-validate.css")" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {
        $("form").addClass("AccountRegForm");
        betex247.getallsport();
    });
</script>
<div id="middle_column_1">
    <div class="clearfix">
        <h1 class="sports_header1">
            FORGET PASSWORD</h1>
        <div class="create-account-box">
            <div class="account-box-title">
                Forget Password
            </div>
            <div class="account-box-filter">
             @using (Html.BeginForm())
             {
                <table cellpadding="3" cellspacing="2">
                    <tr>
                        <td width="150">
                            Email (*)
                        </td>
                        <td width="350">
                            <input type="text" id="email" name="email" class="text-input"/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width="150">
                        </td>
                        <td width="350">
                            <input type="submit" value="Forget Password" id="FormSubmit" style="background: #EFEFEF;" />
                        </td>
                    </tr>
                </table>
             }
            </div>           
          
        </div>
    </div>
</div>
