@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        betex247.getallsport();
    });
</script>
<h2>ForgetPassword</h2>
