@{              
    ViewBag.Title = "Statement";
    Layout = null;
}
<div class="clearfix">
    <h1 class="sports_header1">
        MY ACCOUNT</h1>
    <div class="AccountRegForm">
        <div class="create-account-box">
            <div class="account-box-title">
                Statements
            </div>
            <div class="account-box-filter AccountRegForm">
                @Html.Partial("AccountReportSearch3")
            </div>
           
            <div id="result">
                
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="txtaction" name="txtaction" value="Statement" />
<input type="hidden" id="txtrpType" name="txtrpType" value="6" />