@using BetEx247.Core;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="middle_column">        
    @Html.Partial("Slides")
    <div id="contentbox" class="clearfix">
        @Html.Partial("InplayMatches")
        @Html.Partial("UpcommingMatches")
    </div>
</div>
@Html.Partial("_RightColumn")
<script type="text/javascript">
    $(document).ready(function () {
        //betex247.getsport(1);
    });
</script>