@using BetEx247.Core;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="highlights">
    <span>BETTING HIGHLIGHTS</span>
</div>
<div class="highlights-content">
    <div>
        <img src="@Url.Content("~/Content/Images/themes/loading1.gif")" width="30" height="30" />
    </div> 
    @*<div class="sports-cat-heading-underline">
        <div class="title">
            Soccer
        </div>
        <div class="all">
            <table style="border-spacing: 2px; border-collapse: separate; width: 100%;">
                <tr>
                    <td height="26" width="33%">
                        <table width="100%" cellpadding="1" cellspacing="1" border="1" bgcolor="#000000">
                            <tr>
                                <td colspan="2" align="center">
                                    Home
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    Back
                                </td>
                                <td width="50%" align="center">
                                    Lay
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td height="26" width="34%">
                        <table width="100%" cellpadding="2" cellspacing="2">
                            <tr>
                                <td colspan="2" align="center">
                                    Draw
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    Back
                                </td>
                                <td width="50%" align="center">
                                    Lay
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td height="26" width="33%">
                        <table width="100%" cellpadding="2" cellspacing="2">
                            <tr>
                                <td colspan="2" align="center">
                                    Away
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    Back
                                </td>
                                <td width="50%" align="center">
                                    Lay
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="sports-cat-content">
        <table class="sports-cat-tbl">
            <tr>
                <td width="50">
                    21:00<br />
                    18 Sep
                </td>
                <td width="200">
                    <a href="." class="sports-cat-lnk">
                        <div>
                            UEFA Champions League<br />
                            <span class="match-title-bigger">Barca - Manchester Utd</span></div>
                    </a>
                </td>
                <td width="250" style="vertical-align: top;" align="center">
                    <table style="border-spacing: 2px; border-collapse: separate; width: 100%;">
                        <tr>
                            <td height="30" width="33%">
                                <table width="100%" cellpadding="2" cellspacing="2">
                                    <tr>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">1.87</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td height="30" width="34%">
                                <table width="100%">
                                    <tr>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">44/27</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td height="30" width="33%">
                                <table width="100%">
                                    <tr>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">&nbsp;</a>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">1.87</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--
                                        <td width="20%"  style="vertical-align: middle; text-align: center;">
                                        <div style="display: inline-block; margin: 0 0; padding: 2px 2px;  width: 80px;">
                                            <a href="mysegments.html" class="common-button">more odds...</a>
                                        </div>
                                        </td>
                                        -->
            </tr>
            <tr>
                <td width="50">
                    21:00
                </td>
                <td width="200">
                    <a href="." class="sports-cat-lnk">
                        <div>
                            UEFA Champions League<br />
                            <span class="match-title-bigger">Real Madrid - Manchester City</span></div>
                    </a>
                </td>
                <td width="250" style="vertical-align: top;" align="center">
                    <table style="border-spacing: 2px; border-collapse: separate; width: 100%;">
                        <tr>
                            <td height="30" width="33%">
                                <table width="100%" cellpadding="2" cellspacing="2">
                                    <tr>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">1.87</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td height="30" width="34%">
                                <table width="100%">
                                    <tr>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">44/27</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td height="30" width="33%">
                                <table width="100%">
                                    <tr>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">&nbsp;</a>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">1.87</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="50">
                    21:00<br />
                    18 Sep
                </td>
                <td width="200">
                    <a href="." class="sports-cat-lnk">
                        <div>
                            UEFA Champions League<br />
                            <span class="match-title-bigger">Bayer Munchen - PSG</span></div>
                    </a>
                </td>
                <td width="250" style="vertical-align: top;" align="center">
                    <table style="border-spacing: 2px; border-collapse: separate; width: 100%;">
                        <tr>
                            <td height="30" width="33%">
                                <table width="100%" cellpadding="2" cellspacing="2">
                                    <tr>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">1.87</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td height="30" width="34%">
                                <table width="100%">
                                    <tr>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">44/27</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td height="30" width="33%">
                                <table width="100%">
                                    <tr>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">&nbsp;</a>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">1.87</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="sports-cat-heading-underline">
        <div class="title">
            Tennis
        </div>
        <div class="all">
            <table style="border-spacing: 2px; border-collapse: separate; width: 100%;">
                <tr>
                    <td height="26" width="50%">
                        <table width="100%" cellpadding="1" cellspacing="1" border="1" bgcolor="#000000">
                            <tr>
                                <td colspan="2" align="center">
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    Back
                                </td>
                                <td width="50%" align="center">
                                    Lay
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td height="26" width="50%">
                        <table width="100%" cellpadding="2" cellspacing="2">
                            <tr>
                                <td colspan="2" align="center">
                                    2
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" align="center">
                                    Back
                                </td>
                                <td width="50%" align="center">
                                    Lay
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="sports-cat-content">
        <table class="sports-cat-tbl">
            <tr>
                <td width="50">
                    21:00<br />
                    18 Sep
                </td>
                <td width="200">
                    <a href="." class="sports-cat-lnk">
                        <div>
                            US.Open 2012 (Qualification)<br />
                            <span class="match-title-bigger">Andy Murray - Rafael Nadal</span></div>
                    </a>
                </td>
                <td width="250" style="vertical-align: top;" align="center">
                    <table style="border-spacing: 2px; border-collapse: separate; width: 100%;">
                        <tr>
                            <td height="30" width="50%" align="center">
                                <table width="80%">
                                    <tr>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%" align="center">
                                            <div style="margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">1.87</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td height="30" width="50%" align="center">
                                <table width="80%">
                                    <tr>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-back">1.87</a>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div style="display: block; margin: 0 auto; padding: 0px 0px; width: auto;">
                                                <a href="mysegments.html" class="odds-button-lay">44/27</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--
                                        <td width="20%"  style="vertical-align: middle; text-align: center;">
                                        <div style="display: inline-block; margin: 0 0; padding: 2px 2px;  width: 80px;">
                                            <a href="mysegments.html" class="common-button">more odds...</a>
                                        </div>
                                        </td>
                                        -->
            </tr>
        </table>              
    </div>*@
</div>
<script type="text/javascript">
    $(document).ready(function () {
        betex247.getsport(1);
    });
</script>