@using BetEx247.Core;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="highlights">
    <span>BETTING HIGHLIGHTS</span>
</div>
<div class="highlights-content">
    <div>
        <img src="@Url.Content("~/Content/Images/themes/loading1.gif")" width="30" height="30" />
    </div>       
</div>
<script type="text/javascript">
    $(document).ready(function () {
        betex247.getsport(1);
    });
</script>