@{
    ViewBag.Title = "ByCountry";
    Layout = null;
}

<script type="text/javascript">    
    $(document).ready(function () {
        $(".liverow:even").addClass("row_odd");         
    });
</script>

<div id="contentbox" class="clearfix">
    @Html.Partial("ALLTOURNAMENTS")
    @Html.Partial("InplayMatches")  
    @Html.Partial("UpcommingMatches")        
</div>

