@{
    ViewBag.Title = "ByLeague";
    Layout = null;   
}  
<script type="text/javascript">         
    $(document).ready(function () {
        $(".liverow:even").addClass("row_odd");        
    });
</script>


<div id="contentbox" class="clearfix">
    <h1 class="sports_header">
        Premier League Coupons</h1>
    @Html.Partial("InplayMatches")  
    @Html.Partial("UpcommingMatches")
    @Html.Partial("ALLTOURNAMENTS")
</div>