@using BetEx247.Data.Model;
@{
    ViewBag.Title = "ByLeague";
    Layout = null;
    SoccerLeague league = ViewBag.LeagueDetail;
}  
<script type="text/javascript">         
    $(document).ready(function () {
        $(".liverow:even").addClass("row_odd");        
    });
</script>


<div id="contentbox" class="clearfix">
    <h1 class="sports_header">
        @{
            if(league!=null){
                @Html.Raw(league.LeagueName_WebDisplay)
            }
            }</h1>
    @Html.Partial("InplayMatches")  
    @Html.Partial("UpcommingMatches")
    @Html.Partial("ALLTOURNAMENTS")
</div>