<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />

    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--server path-->
    <add key="ServerPath" value="C:\\Bet247x\\download"/>
    <!--end server path E:\\Projects\\modiface\\Dropbox\\Betting\\xml E:\\beauty\\Dropbox\\Betting\\xml-->
    <add key="MASTERXMLSOURCE" value="D:\\project\\xml"/>
    <!--currency-->
    <add key="CurrencyList" value="USD,Euro,JPY,GBP,AUD"/>
    <!--end currency-->
    <!--source xml-->
    <add key="BETCLICKURL" value="http://xml.betclick.com/odds_en.xml"/>
    <add key="PINNACLESPORTSURL" value="http://api.pinnaclesports.com/v1/sports"/>
    <add key="PINNACLELEAGUEURL" value="http://api.pinnaclesports.com/v1/leagues?sportid={0}"/>
    <add key="PINNACLEFEEDURL" value="http://api.pinnaclesports.com/v1/feed?sportid={0}&amp;leagueid={1}&amp;clientid=PN514368&amp;apikey=4235dc98-c16d-45f7-a74d-d68861e80a47&amp;islive=0&amp;currencycode=usd&amp;last"/>
   

    
    <!--end source xml-->

    <add key="dependencyResolverTypeName" value="BetEx247.Data.UnityDependencyResolver, BetEx247.Data" />
  </appSettings>


	<unity>
		<namespace name="BetEx247.Data.DAL"/>
		<namespace name="BetEx247.Data"/>
		<typeAliases>
			<!-- Lifetime manager types -->
			<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
			<typeAlias alias="string" type="System.String, mscorlib" />
			<typeAlias alias="ICommonService" type="BetEx247.Data.DAL.ICommonService,BetEx247.Data" />
			<typeAlias alias="CommonService" type="BetEx247.Data.DAL.CommonService,BetEx247.Data" />
			<typeAlias alias="ICustomerService" type="BetEx247.Data.DAL.ICustomerService,BetEx247.Data" />
			<typeAlias alias="CustomerService" type="BetEx247.Data.DAL.CustomerService,BetEx247.Data" />
			<typeAlias alias="ITransactionPaymentService" type="BetEx247.Data.DAL.ITransactionPaymentService,BetEx247.Data" />
			<typeAlias alias="TransactionPaymentService" type="BetEx247.Data.DAL.TransactionPaymentService,BetEx247.Data" />
			<typeAlias alias="IPaymentService" type="BetEx247.Data.DAL.IPaymentService,BetEx247.Data" />
			<typeAlias alias="PaymentService" type="BetEx247.Data.DAL.PaymentService,BetEx247.Data" />
		</typeAliases>
		<containers>
			<container>
				<types>
					<type type="ICommonService" mapTo="CommonService">
						<lifetime type="singleton" />
					</type>
					<type type="ICustomerService" mapTo="CustomerService">
						<lifetime type="singleton" />
					</type>
					<type type="ITransactionPaymentService" mapTo="TransactionPaymentService">
						<lifetime type="singleton" />
					</type>
					<type type="IPaymentService" mapTo="PaymentService">
						<lifetime type="singleton" />
					</type>
				</types>
			</container>
		</containers>
	</unity>
  
	<connectionStrings>
		<add name="ApplicationServices"
			 connectionString="Data Source=hieu-pc;Initial Catalog=BettingExchange;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
		<add name="BetEXDataContainer" connectionString="metadata=res://*/Model.BetEXData.csdl|res://*/Model.BetEXData.ssdl|res://*/Model.BetEXData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC;initial catalog=BettingExchange;integrated security=True;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
	
	
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>