<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetEx247.Plugin.Payments.ApcoFastPay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BetEx247.Plugin.Payments.ApcoFastPay.Properties.Settings>
            <setting name="BetEx247_Plugin_Payments_ApcoFastPay_biz_apsp_api_Service"
                serializeAs="String">
                <value>https://www.apsp.biz:9085/service.asmx</value>
            </setting>
        </BetEx247.Plugin.Payments.ApcoFastPay.Properties.Settings>
    </applicationSettings>
</configuration>