<div id="footer-wrapper">
    <div id="footer1">
        <div class="inner">
            <div class="clearfix">
                <div class="col_1">
                    <div class="block ">
                        <ul class="footer_links">
                            <li><a href="/Privacy_Policy" class="level1">Privacy Policy</a> </li>
                            <li><a href="/Terms_Conditions" class="level1">Terms and Conditions</a> </li>
                            <li><a href="/Banking" class="level1">Banking</a> </li>
                            <li><a href="/Betting_Rules" class="level1">Betting Rules</a> </li>
                            <li><a href="/wcgrb/Bookmakers Operational Rules - 2008.pdf" class="level1">Commission
                                Rules</a> </li>
                            <li><a href="/About_Us" class="level1">About Us</a> </li>
                            <li><a href="/Contact_Us" class="level1">Contact Us</a> </li>
                        </ul>
                        <script type="text/javascript">
                            $(function () {
                                $('.footer_links li:eq(0)').addClass('first');
                                $('.footer_links li:eq(1)').addClass('first');
                            });
                        </script>
                    </div>
                    <div class="block ">
                        <div class="betting_links">
                            <strong>Most popular Sports Betting</strong>
                            <ul>
                                <li><a href="/golf" class="level1">Horse Race Betting</a> </li>
                                <li><a href="/tennis" class="level1">Tennis Betting</a> </li>
                                <li><a href="/motorsport/Formula_1" class="level1">Hockey Betting</a> </li>
                                <li><a href="/rugby" class="level1">Rugby Betting</a> </li>
                                <li><a href="/soccer" class="level1">Soccer Betting</a> </li>
                                <li><a href="/livesports" class="level1">Sports Live Betting</a> </li>
                                <li><a href="/cricket" class="level1">Cricket Betting</a> </li>
                                <li><a href="/baseball" class="level1">Baseball Betting</a> </li>
                                <li><a href="/basketball" class="level1">Basketball Betting</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="copyright">
                        <!--
                    <img src="ui/default/tpl/bets/images/themes/badges.gif" alt="" width="244" height="88" />
                -->
                        <ul id="footer_AffiliateLinks">
                            <li><a id="LGAMalta" href="http://www.lga.org.mt/" title="LGA Malta">LGA Malta</a></li>
                            <li><a id="gamCare18Plus" href="http://content.betfair.com/misc/?product=portal&amp;sWhichKey=GamCare"
                                title="Over 18s only">Over 18s only</a></li>
                        </ul>
                        <p>
                            betex247.com is operated by YNotGaming Co., Ltd. No persons under the age of 18
                            years are permitted to gamble. Licensed by the Lotteries and Gaming Authority, Malta
                            (LGA). Business Registration Number: LGA/CL3/454/2013 19th March 2013.
                        </p>
                    </div>
                </div>
                <div class="logos">
                    <ul class="payment clearfix">
                        <li><span class="mc">MasterCard</span></li>
                        <li><span class="maestro">Maestro</span></li>
                        <li><span class="visa">Visa</span></li>
                        <li><span class="visaelec">Visa Electron</span></li>
                        <li><span class="ukash">Ukash</span></li>
                        <li><span class="fnb">FNB Cell Pay Point</span></li>
                        <li><span class="mimoney">mimoney</span></li>
                        <li><span class="fastbank">Fast Bank Tranfster</span></li>
                    </ul>
                    <ul class="security">
                        <li class="thawte"><span title="Thawte">
                            <img src="@Url.Content("~/Content/images/themes/thawte.gif")" width="124" height="44" alt="Thwate" /></span></li>
                    </ul>
                </div>
            </div>
            <p class="small">
                Winnings in respect of any bet must be claimed within ninety (90) days of the determination
                of the outcome of such bet.<br>
                The following rules: Bookmaker Operational Rules, Racing and Betting Rules, Totalisator
                Operational Rules, and any other rules and notices approved by the LGA, are available
                on request or for download here <a href="http://www.lga.org.mt/lga/content.aspx?id=87374">
                    Remote Gaming Legislation & Regulation</a></p>
        </div>
    </div>
</div>
