<div id="left_column">
    <div id="top_eventstop">
        
    </div>
    <div class="loadoffermenu">
        <img src="@Url.Content("~/Content/Images/themes/loading1.gif")" width="30" height="30" />
    </div>
</div>
