<div id="left_column">
    <div>
        <div id="top_events" class="module">
            <h3 class="bdr_tr">
                Top Events</h3>
            <div class="inner bdr_btm">
                <ul class="listings">
                    <li class="sesame"><a href="/index.php/bethome/bethome/action/livelanding" class="level1">
                        Live Events</a> </li>
                    <li class="sesame"><a href="http://www.bet.co.za/cricket/Champions_Lg_Twenty20/"
                        class="level1">Cricket - CLT20</a> </li>
                    <li class="sesame"><a href="http://www.bet.co.za/index.php/bethome/bethome/action/viewevent/eventid/158402"
                        class="level1">BMW Masters</a> </li>
                    <li class="sesame"><a href="http://www.bet.co.za/index.php/bethome/bethome/action/viewevent/eventid/158403"
                        class="level1">CIMB Asia Pacific Classic</a> </li>
                    <li class="sesame"><a href="https://www.bet.co.za/soccer/England/Premier_League/"
                        class="level1">England Premier League</a> </li>
                    <li class="sesame"><a href="http://www.bet.co.za/soccer/" class="level1">Today's Soccer
                        Matches</a> </li>
                    <li class="sesame"><a href="http://www.bet.co.za/tennis/" class="level1">Today's Tennis
                        Matches</a> </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#top_events').find('.listings > li:last').addClass('last');
            });
        </script>
    </div>
    <div class="loadoffermenu">
        <img src="@Url.Content("~/Content/Images/themes/loading1.gif")" width="30" height="30" />
    </div>
</div>
