<div id="right_column">
    <ul class="css-tabs skin2">
        <li><a href="#">Betslip</a></li>
        <li><a href="#">My Account</a></li>
    </ul>
    <div class="css-panes skin2">
        <div>
            <h2>
                Lorsfsdfsafsafem ipsum dolor sit amet</h2>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text
            </p>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text
            </p>
        </div>
        <div>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text
            </p>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text
            </p>
        </div>
        <div>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text
            </p>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text
            </p>
        </div>
    </div>
    <script>
        $(function () {
            $("ul.skin2").tabs("div.skin2 > div");
        });
    </script>
</div>
