<script type="text/javascript">
    $(document).ready(function () {
        $("#sd").datepicker({ dateFormat: 'yy-mm-dd', showOn: 'button', buttonImageOnly: true, buttonImage: '@Url.Content("~/Content/images/themes/misc/icon_cal.png")' });
        $("#ed").datepicker({ dateFormat: 'yy-mm-dd', showOn: 'button', buttonImageOnly: true, buttonImage: '@Url.Content("~/Content/images/themes/misc/icon_cal.png")' });

        $("#selPeriod").click(function () {
            AccountHistory.ui_selPeriod();
        });

        $("#sd").change(function () {
            AccountHistory.ui_popStartDate();
        });

        $("#ed").change(function () {
            AccountHistory.ui_popEndDate();
        });

//        $("#selBetCategory").bind("change",function () {
//            AccountHistory.ui_doBetCatChange($(this).val());
//        });
    });
</script>
<table id="filter-tbl">
    <tr>
        <td class="col1">
            Date placed
        </td>
        <td class="col2">
            <table>
                <tr>
                    <td align="right" width="1%" style="padding: 0px 0px;">
                        <input type="radio" name="rdoPeriodType" id="rdoPredefined" value="1" checked style="border: 0px !important;" />
                    </td>
                    <td align="left" width="99%" style="padding: 0px 0px;">
                        @Html.DropDownList("selPeriod", ViewBag.lstDateSearchType as SelectList, new { @id = "selPeriod", style = "border: 1px solid black; font-size: 0.9em;", onclick = "Common.SetSelectedRadio('rdoPredefined','rdoCustom')" })
                    </td>
                </tr>
                <tr>
                    <td align="right" width="1%" style="padding: 0px 0px; margin: 0 auto;">
                        <input type="radio" style="border: 0px !important;" value="2" name="rdoPeriodType"
                            id="rdoCustom">
                    </td>
                    <td align="left" width="99%" style="padding: 0px 0px; margin: 0 auto;">
                        <input type="text" class="text-input-date" name="sd" id="sd" value="" maxlength="10" />
                        &nbsp;&nbsp;
                        <input type="text" class="text-input-date" name="ed" id="ed" value="" maxlength="10" />
                    </td>
                </tr>
            </table>
        </td>
        <td class="col3" align="left">
            <table>
                <tr>
                    <td align="left" style="padding: 0px 0px;">
                        Bet Category
                    </td>
                    <td align="left" style="padding: 0px 0px;">
                        @Html.DropDownList("selBetCategory", ViewBag.lstSportData as SelectList, "--Select--", new { width = "140px" })
                    </td>
                </tr>
            </table>
        </td>
        <td class="col4" align="left">
            <table>
                <tr>
                    <td align="left" style="padding: 0px 0px;">
                        <span class="lookup-submit"><a onclick="AccountHistory.ui_doSearch();" href="javascript:void(0)"
                            id="lookuplink">Show records</a> @*<button name="lookupbutton" id="lookupbutton" value="Lookup" type="submit" style="display: none">
                                Show records</button>*@</span>
                    </td>
                    <td align="left" style="padding: 0px 0px;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

