<div>
<div class="ChooseSportsHeader">
    <span class="orange">My Account</span>
</div>
</div>
<div id="accordion-container">
    <h2 class="accordion-header">
        My Account</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="@Url.Content("~/account/balances")">Account Balances</a></li>
            <li><a href="@Url.Content("~/account/statement")">Statements</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Bets</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-Exposure.html">Exposure</a></li>
            <li><a href="Account-UnmatchedBets.html">Unmatched Bets</a></li>
            <li><a href="Account-UnsettledBets.html">Unsettled Bets</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Bet History</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-BettingPL.html">Betting P/L</a></li>
            <li><a href="Account-SettledBets.html">Settled Bets</a></li>
            <li><a href="Account-CancelledBets.html">Cancelled Bets</a></li>
            <li><a href="Account-LapsedBets.html">Lapsed Bets</a></li>
            <li><a href="Account-VoidBets.html">Void Bets</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Cards</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-UpdateCards.html">Update Cards</a></li>
            <li><a href="Account-Deposit.html">Deposit</a></li>
            <li><a href="Account-Withdraw.html">Withdraw</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        My Details</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-MyProfile.html">My Profile</a></li>
            <li><a href="Account-Security.html">Account Security</a></li>
        </ul>
    </div>
    <h2 class="accordion-header">
        Messages Center</h2>
    <div class="accordion-content">
        <ul>
            <li><a href="Account-Inbox.html">Inbox</a></li>
            <li><a href="Account-Compose.html">Compose</a></li>
            <li><a href="Account-Sent.html">Sent</a></li>
        </ul>
    </div>
</div>
