@using BetEx247.Core.Common.Utils;
@{
    int i_Total = ViewBag.i_Total != null && ViewBag.i_Total != 0 ? ViewBag.i_Total : 75;
    int PageSize = ViewBag.PageSize != null && ViewBag.PageSize != 0 ? ViewBag.PageSize : 20;
    int PageNum = ViewBag.PageNum != null && ViewBag.PageNum != 0 ? ViewBag.PageNum : 1;
    string displayPage = string.Empty;
    int currentRecord = 0;
    Pager Paginator = new Pager(i_Total, PageSize, PageNum, "");
    if (Paginator != null)
    {
        displayPage = Paginator.DisplayPaging();
        currentRecord = (PageNum - 1) * PageSize + 1;
    }
}
@{
    if (i_Total > 0)
    {
    <div class="dvFilterTitle">
        Show &nbsp;
        <select name="rowspage" id="rowspage">
            <option value="20" selected>20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        records / page
    </div>
@*<div class="PgCounter">
    Page 1/12 <span class="paging">1</span> <a title="201 - 400" href="javascript:{}"
        onclick="load_pg(24780,200,2)">2</a> <a title="401 - 600" href="javascript:{}" onclick="load_pg(24780,200,3)">
            3</a> <a title="601 - 800" href="javascript:{}" onclick="load_pg(24780,200,4)">4</a>
    <a title="601 - 800" href="javascript:{}" onclick="load_pg(24780,200,11)">11</a>
    <a title="201 - 400" href="javascript:{}" onclick="load_pg(24780,200,2)">»</a> <a
        title="24600 - 24780" href="javascript:{}" onclick="load_pg(24780,200,124)">».</a></div>*@
    <div class="PgCounter">
        Page @currentRecord/@i_Total @Html.Raw(displayPage)
    </div>
    }
}
