<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="BetEXDataContainer" connectionString="metadata=res://*/Model.BetEXData.csdl|res://*/Model.BetEXData.ssdl|res://*/Model.BetEXData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC;initial catalog=BettingExchange;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="BetEXDataContainer" connectionString="metadata=res://*/Model.BetEXData.csdl|res://*/Model.BetEXData.ssdl|res://*/Model.BetEXData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ADMIN-PC;Initial Catalog=BettingExchange;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>